// Color Palette

// #region Primary Colors
$primary-white: #FFFFFF;
$primary-black: #000000;
$primary-gray: #6D6E70;
$primary-red: #ED1B2E;
// #endregion
// #region Secondary Colors
$secondary-khaki: #E2D7AC;
$secondary-sand: #B4A996;
$secondary-gold: #ECB731;
$secondary-safetyGreen: #8EC06C;
$secondary-forestGreen: #537B35;
$secondary-lightBlue: #C4DFF6;
$secondary-skyBlue: #56A0D3;
$secondary-classicBlue: #0091CD;
$secondary-midnightBlue: #004B79;
$secondary-deepRed: #7F181B;
// #endregion
// #region neutral Colors
$neutral-lightGray: #D7D7D8;
$neutral-mediumGray: #9F9FA3;
